<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="chatbot-body">
    <app-root></app-root>
</div>

<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/runtime-es2015.js" type="module"></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/runtime-es5.js" nomodule defer></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/polyfills-es5.js" nomodule defer></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/polyfills-es2015.js" type="module"></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/styles-es2015.js" type="module"></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/styles-es5.js" nomodule defer></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/vendor-es2015.js" type="module"></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/vendor-es5.js" nomodule defer></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/main-es2015.js" type="module"></script>
<script src="modules/custom/chatbot/js/chatbot/dist/chatbot/main-es5.js" nomodule defer></script>
